!!!
%html
  %head
    %title Swanson Ipsum
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .navbar-inner
        = link_to "Swanson Ipsum", "/", class: "brand"
        %ul.nav.pull-right
          %li
            = link_to "Quotes", quotes_url, data: { pjax: '#swansons' }
          %li
            = link_to "Ipsums", ipsums_url, data: { pjax: '#swansons' }
    .container
      .row
        .span6.offset3
          #swansons.well.small
            = yield
    .navbar.navbar-fixed-bottom
      .navbar-inner
        %ul.nav.pull-right
          %li= link_to "github", "http://github.com/dirkkelly/swansonipsum"
          %li= link_to "gemcutter", "http://gemcutter.org/gems/ffakeron"
          %li= link_to "dirkkelly", "http://dirkkelly.com"

    = javascript_include_tag "application"
